.catalog {
  background-color: $lightest-grey;
  padding-top: 50px;

  &__sorting-products-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
  }

  &__sorting {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-column: 2/-2;
    grid-row: 1/2;
  }

  &__sorting-item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $base-primary;
    display: none;
  }

  &__sorting-item--current {
    display: block;
  }

  &__sorting-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__sorting-button {
    grid-column: 3/-1;
    background: center center no-repeat url("../../img/arrow.svg") $base-white;
    transform: rotate(90deg);
    border: none;
    background-color: transparent;
    width: 10px;
    height: 6px;
    padding: 24px 13px 0 15px;
    width: 10px;
    height: 6px;
    margin-bottom: 0;
  }

  &__wrapper {
    display: grid;
  }

  &__button {
    font-size: 14px;
    line-height: 20px;
    background-image: url("../../img/basket-on-button.png");
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-size: 20px 16px;
    padding: 9px 18px 8px 45px;
    border: none;
    margin-right: -19px;
    letter-spacing: 0.1em;
  }

  &__products {
    @include list-reset;
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    margin-bottom: 40px;
  }

  &__product {
    background-color: $base-white;
    padding: 40px 20px 20px;
    border-radius: 4px;
    width: 280px;
  }

  &__product:hover {
    box-shadow: 5px 5px 5px 0 $base-grey
  }

  &__product:not(:last-child) {
    margin-bottom: 19px;
  }

  &__title-product {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: $base-black;
    margin-bottom: 6px;
  }

  &__description {
    margin-bottom: 20px;
    margin-top: 0;
    padding-right: 2px;
  }

  &__link-image {
    text-align: center;
    display: block;
    margin-bottom: 24px;
  }

  &__image {
    display: block;
    margin: auto;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-size) {
  .catalog {
    padding-top: 80px;

    &__products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      column-gap: 30px;
    }

    &__product {
      padding: 50px 30px 30px;
      max-width: 349px;
      width: auto;
    }

    &__product:not(:last-child) {
      margin-bottom: 0;
    }

    &__title-product {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
    }
  }
}

@media (min-width: $desktop-size) {
  .catalog {

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr min-content;
    }

    &__products {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__product {
      max-width: 317px;
    }
  }
}
