.catalog {
  background-color: $lightest-grey;
  padding-top: 50px;

  &__wrapper {
    display: grid;
  }

  &__button {
    font-size: 14px;
    line-height: 20px;
    background-image: url("../../img/basket-on-button.png");
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-size: 20px 16px;
    padding: 8px 20px 8px 46px;
  }

  &__products {
    @include list-reset;
    display: flex;
    flex-direction: column;
  }

  &__product {
    background-color: $base-white;
    padding: 40px 20px 20px;
    border-radius: 4px;
    width: 280px;
  }

  &__product:hover {
    box-shadow: 5px 5px 5px 0 $base-grey
  }

  &__product:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link-image {
    text-align: center;
    display: block;
  }

  &__image {
    display: block;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-size) {
  .catalog {

    &__products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      column-gap: 30px;
    }

    &__product {
      padding: 50px 30px 30px;
      max-width: 349px;
      width: auto;
    }

    &__product:not(:last-child) {
      margin-bottom: 0;
    }

    // &__product:not(:last-child) {
    //   margin-bottom: 30px;
    // }
  }
}

@media (min-width: $desktop-size) {
  .catalog {

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr min-content;
    }

    &__products {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__product {
      max-width: 317px;
    }
  }
}
