.copyright {
  border-top: 1px solid $base-secondary;
  padding-top: 18px;

  &__layout {
    text-align: center;
  }

  &__logo {
    vertical-align: middle;
  }

  &__link-logo {
    fill: $base-grey;
    padding-top: 20px;
  }

  &__link-logo:hover {
    fill: $primary-lighter;
  }

  &__link-text {
    color: $base-grey;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    padding-top: 20px;
  }

  &__link-text:hover,
  &__link-text:focus {
    color: $base-primary;
  }

  &__link-text:active {
    color: $primary-darker;
  }
}

@media (min-width: $tablet-size) {
  .copyright {
    border: none;
  }
}
