.filters {
  &__button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: $base-primary;
    padding: 6px 0;
    width: 100%;
    background-color: $base-white;
    border-radius: 4px;
    border-color: transparent;
    margin-bottom: 39px;
    margin-top: 7px;
  }

  &__button:hover,
  &__button:focus {
    background-color: $primary-lighter;
    color: $base-white
  }

  &__button:active {
    background-color: $primary-darker;
    color: $base-white
  }

  &__button:disabled {
    background-color: $light-grey;
    color: $base-white
  }

  &__list {
    @include list-reset;
    margin-bottom: 24px;
  }

  &__filter {
    border:none;
    padding: 0;
    margin: 0;
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-bottom: 20px;
  }


  &__range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 5px;
	background-color: $lightest-grey;
	border-radius: 5px;
	padding-top: 11px;
  }

  &__scale {
	height: 2px;
	background-color: $primary-lighter;
  }

  &__bar {
	width: 70%;
	height: 2px;
	background-color: $primary-lighter;
  }

  &__toggle {
    @include toggler-radio;
    top: 0;
  }

  &__toggle--min {
	  left: 0;
  }

  &__toggle--max {
	  left: 236px;
  }

  &__toggle:hover,
  &__toggle:focus {
    @include toggler-radio-status;
    background-color: $base-grey;
  }

  &__toggle:active {
    @include toggler-radio-status;
    background-color: $base-primary;
  }

  &__label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__label--radio {
    padding-left: 33px;
  }

  &__label--check {
    padding-left: 53px;
  }

  &__price-input {
    border-color: $primary-lighter;
    border-radius: 4px;
    padding: 6px 10px;
    color: $base-black;
    max-width: 125px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  &__price-input--min {
    margin-right: 29px;
  }

  &__price-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 23px;
  }

  &__radio-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__radio-input,
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__radio {
    @include toggler-radio;
    margin-left: -33px;
  }

  &__radio-input:checked + &__radio {
    @include toggler-radio-status;
    background-color: $base-primary;
  }

  &__radio-input:active + &__radio:active {
    background-color: $base-primary;
  }

  &__radio-input:hover:not([disabled]) + &__radio,
  &__radio-input:focus:not([disabled]) + &__radio {
    @include toggler-radio-status;
    background-color: $base-grey;
  }

  &__radio-input:checked:hover:not([disabled]) + &__radio,
  &__radio-input:checked:focus:not([disabled]) + &__radio {
    background-color: $base-grey;
  }

  &__radio-input:checked:disabled + &__radio
  &__radio-input:disabled + &__radio {
    opacity: 0.3;
  }

  &__check-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__check-box {
    position: absolute;
    width: 42px;
    height: 24px;
    box-shadow: 0 0 0 2px $base-grey;
    border-radius: 12px;
    background-color: $base-grey;
    background-image: url("../../img/check.svg");
    background-repeat: no-repeat;
    background-position: left;
    margin-left: -53px;
  }

  &__input:checked + &__check-box {
    box-shadow: 0 0 0 2px $base-primary;
    background-color: $base-primary;
    background-position: right;
  }

  &__input:hover:not([disabled]) + &__check-box,
  &__input:focus:not([disabled]) + &__check-box {
    box-shadow: 0 0 0 2px $base-primary;
    background: $base-grey;
  }

  &__input:checked:disabled + &__check-box,
  &__input:disabled + &__check-box {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-size) {
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content;

    &__button {
      width: auto;
      padding-left: 39px;
      padding-right: 39px;
      text-align: center;
    }

    &__price-input {
      max-width: 96px;
    }
  }
}
