.filters {
  &__button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $base-primary;
    padding: 8px 0;
    width: 100%;
    background-color: $base-white;
    border-radius: 4px;
    border-color: transparent;
  }

  &__button:hover,
  &__button:focus {
    background-color: $primary-lighter;
    color: $base-white
  }

  &__button:active {
    background-color: $primary-darker;
    color: $base-white
  }

  &__button:disabled {
    background-color: $light-grey;
    color: $base-white
  }

  &__list {
    @include list-reset;
  }

  &__filter {
    border:none;
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  &__label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__radio-input,
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__radio {
    position: absolute;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 0 2px $base-grey;
    border-radius: 50%;
    background-color: $base-white;
  }

  &__radio-input:checked + &__radio {
    background-image: url("../../img/radio.svg");
    box-shadow: 0 0 0 2px $base-primary;
    background-repeat: no-repeat;
    background-position: center;
  }

  // &__input-radio:checked:hover + &__radio {
  //   box-shadow: 0 0 0 1px $grey-style;
  // }

  &__radio-input:hover + &__radio,
  &__radio-input:focus + &__radio {
    box-shadow: 0 0 0 2px $base-primary;
  }

  &__radio-input:checked:hover + &__radio,
  &__radio-input:checked:focus + &__radio {
    // box-shadow: 0 0 0 2px $base-primary;
    opacity: 0.3;
    // background: rgba(0, 0, 0, 0.3);
  }

  &__radio-input:checked:disabled + &__radio {
    opacity: 0.3;
  }

  &__radio-input:disabled + &__radio {
    box-shadow: 0 0 0 2px $light-grey;
    background-color: transparent;
    color: $base-grey;
  }

  &__check-box {
    position: absolute;
    width: 42px;
    height: 24px;
    box-shadow: 0 0 0 2px $base-grey;
    border-radius: 12px;
    background-color: $base-grey;
    background-image: url("../../img/check.svg");
    background-repeat: no-repeat;
    background-position: left;
  }

  &__input:checked + &__check-box {
    box-shadow: 0 0 0 2px $base-primary;
    background-color: $base-primary;
    background-position: right;
  }

  &__input:hover + &__check-box,
  &__input:focus + &__check-box {
    box-shadow: 0 0 0 2px $base-primary;
    background: rgba(120, 89, 207, 0.25);
  }

  &__input:checked:disabled + &__check-box {
    opacity: 0.3;
  }

  &__input:disabled + &__check-box {
    box-shadow: 0 0 0 2px $light-grey;
    background-color: transparent;
    color: $base-grey;
  }
}

@media (min-width: $tablet-size) {
  .filters {
    &__button {
      width: auto;
      padding-left: 39px;
      padding-right: 39px;
      text-align: center;
    }
  }
}


// .page-catalog .sorting-sites {
// 	text-transform: uppercase;
// 	line-height: 18px;
// 	grid-column-start: 2;
// 	grid-column-end: -1;
// 	grid-row-start: 1;
// 	grid-row-end: 2;
// 	margin-bottom: 48px;
// }

// .sorting-sites {
// 	display: grid;
// 	grid-template-columns: 1fr 1fr;
// }

// .filter-sorting {
// 	margin: 0;
// 	margin-right: 200px;
// }

// .sorting-flex {
// 	display: flex;
// 	padding-top: 5px;
// 	margin-right: 20px;
// }

// .sorting-list {
// 	display: flex;
// 	padding-left: 10px;
// 	flex-wrap: wrap;
// }

// .sorting {
// 	color: var(--black);
// 	opacity: 0.3;
// 	font-size: 14px;
// }

// .sorting-here {
// 	opacity: 1;
// }

// .sorting-item:not(:last-child) {
// 	margin-right: 26px;
// }

// .sorting:hover {
// 	opacity: 0.6;
// }

// .sorting:active {
// 	opacity: 1;
// }

// .arrows {
// 	position: relative;
// 	margin-left: 78px;
// }

// .arrow-up {
// 	opacity: 0.3;
// }

// .arrow:hover {
// 	opacity: 1;
// }

// .arrow-down {
// 	width: 0;
// 	height: 0;
// 	border-left: 5px solid transparent;
// 	border-right: 5px solid transparent;
// 	border-top: 6px solid var(--grey-arrows);
// }

// .arrow-down:active {
// 	border-top-color:  var(--grey-arrows-active);
// }

// .arrow-here {
// 	border-top: 10px solid var(--grey-arrows-active);
// }

// .arrow-up {
// 	width: 0;
// 	height: 0;
// 	border-left: 5px solid transparent;
// 	border-right: 5px solid transparent;
// 	border-bottom: 10px solid var(--grey-arrows);
// 	left: 0;
// }

// .arrow-up:active {
// 	border-bottom-color:  var(--grey-arrows-active);
// }

// .arrow {
// 	position: absolute;
// 	right: 20px;
// 	top: 5px;
// }

// .product-cards {
// 	display: grid;
// 	grid-template-columns: 1fr 1fr;
// 	column-gap: 23px;

