.footer {
  padding-bottom: 30px;

  &__logo {
    display: block;
    margin-right: 38px;
  }

  &__logo-link {
    padding: 18px 0;
  }

  &__logo-link:hover,
  &__logo-link:focus {
    opacity: 0.7;
  }

  &__logo-link:active {
    opacity: 0.2;
  }

  &__nav-box {
    border-top: 1px solid $base-secondary;
    padding-top: 20px;
    margin: 0 -20px 19px;
  }

  &__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: $base-primary;
    margin-bottom: 18px;
    padding: 0 20px;
  }

  &__header {
    display: none;
  }

  &__list {
    @include list-reset;
    padding: 0 20px;
    margin-bottom: 28px;
  }

  &__contact-list {
    @include list-reset;
    margin-bottom: 0;
  }

  &__item-contact {
    margin-left: 20px;
  }

  &__item-link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $base-black;
    text-transform: uppercase;
}

  &__item-link:hover,
  &__item-link:focus {
    color: $primary-lighter;
  }

  &__item-link:active {
    color: $primary-darker;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__logo-social {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px
  }

  &__social-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__social-item:not(:last-child) {
    margin-right: 20px;
  }

  &__social-link {
    display: block;
    padding: 10px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  &__social-link:hover,
  &__social-link:focus {
    background-color: $base-secondary;
    fill: $base-primary;
  }

  &__social-link:active {
    background-color: $light-grey;
  }

  &__social-icon {
    fill: $base-grey;
  }

  &__social-icon:hover,
  &__social-icon:focus {
    fill: $base-primary;
  }

  &__adress {
    display: block;
    color: $base-black;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding-left: 19px;
    background: left top no-repeat url("../../img/adress.svg");
    margin-bottom: 16px;
    margin-top: 21px;
    padding-left: 19px;
    padding-right: 30px;
  }

  &__phone {
    display: block;
    color: $base-black;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding-left: 19px;
    background: left top no-repeat url("../../img/phone.svg");
  }

  &__phone:hover,
  &__phone:focus,
  &__adress:hover,
  &__adress:focus {
    color: $primary-lighter;
  }

  &__adress:active,
  &__phone:active {
    color: $primary-darker;
  }
}

@media (min-width: $tablet-size) {
  .footer {
    padding-bottom: 40px;

    &__logo {
      width: 170px;
    }

    &__nav-box {
      border: none;
    }
  }
}

@media (min-width: $desktop-size) {
  .footer {
    &__header {
      display: block;
    }

    &__layout {
      display:grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr min-content;
    }

    &__nav {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

