.footer {
  &__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: $base-primary;
  }

  &__list {
    @include list-reset;
  }

  &__item-link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $base-black;
    text-transform: uppercase;
}

  &__item-link:hover,
  &__item-link:focus {
    color: $primary-lighter;
  }

  &__item-link:active {
    color: $primary-darker;
  }
  &__social-link {
    display: block;
    padding: 10px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  &__social-link:hover,
  &__social-link:focus {
    background-color: $base-secondary;
    fill: $base-primary;
  }

  &__social-link:active {
    background-color: $light-grey;
  }

  &__social-icon {
    fill: $base-grey;
  }

  &__social-icon:hover,
  &__social-icon:focus {
    fill: $base-primary;
  }

  &__adress {
    display: block;
    color: $base-black;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding-left: 19px;
    background: left top no-repeat url("../../img/union.svg");
    margin-bottom: 16px;
    margin-top: 20px;
  }

  &__phone {
    display: block;
    color: $base-black;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding-left: 19px;
    background: left top no-repeat url("../../img/phone.svg");
  }

  &__phone:hover,
  &__phone:focus,
  &__adress:hover,
  &__adress:focus {
    color: $primary-lighter;
  }

  &__adress:active,
  &__phone:active {
    color: $primary-darker;
  }
}

@media (min-width: $tablet-size) {
  .footer {
    &__logo {
      width: 170px;
    }
  }
}
