.main-nav {
  width: 100%;
  margin-top: 0;

  &__list {
    @include list-reset;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid $base-secondary;
    padding-right: 240px;
    padding-left: 240px;
  }

  &__link {
    text-decoration: none;
    display: block;
    color: $base-black;
    padding: 20px 130px;
  }

  &__link:hover,
  &__link:focus {
    color: $base-primary;
  }

  &__link:active {
    background-color: $base-secondary;
    color: $base-black
  }

  .main-nav__toggle--opened {
    position: relative;
    align-self: center;
    justify-self: end;
    width: 16px;
    height: 2.5px;
    background-color: $base-black;
    border: none;
    top: -25px;
    left: 262px;
    display: none;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      width: 16px;
      height: 1.5px;
      background-color: $base-black;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 16px;
      height: 1.5px;
      background-color: $base-black;
    }
  }

  .main-nav__toggle--closed {
    position: relative;
    margin-left: auto;
    background-color: transparent;
    border: none;
    display: none;

    &::before,
    &::after {
      @include main-nav-toggle;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-size) {
  .main-nav {
    width: 400px;
    margin-left: 65px;
    margin-right: 59px;

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__link {
      padding: 30px 21px;
    }

    &__link:active {
      color: $base-primary;
    }

    &__item {
      border-top: none;
      width: auto;
      padding: 0;
      margin: 0;
    }

    &__item--current {
      border-bottom: 2px solid $base-primary;
    }

    &__item--current a:not([href]) {
      color: $base-primary;
    }

    &__toggle--closed {
      display: none;
    }
  }
}

@media (min-width: $desktop-size) {
  .main-nav {
    width: 440px;

    // &__item:not(:last-child) {
    //   margin-right: 60px;
    // }
  }
}
