.main-nav {
  &__list {
    @include list-reset;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid $base-secondary;
    padding: 20px 20px 21px;
    // margin: 0 -20px;
  }

  &__link {
    text-decoration: none;
    display: block;
    color: $base-black;
  }

  &__link:hover,
  &__link:focus {
    color: $base-primary;
    opacity: 0.8;
  }
}

.main-nav__toggle--open {
  position: relative;
  align-self: center;
  justify-self: end;
  width: 16px;
  height: 1.5px;
  background-color: $base-black;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 16px;
    height: 1.5px;
    background-color: $base-black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 16px;
    height: 1.5px;
    background-color: $base-black;
  }
}


.main-nav__toggle--closed {
  position: relative;
  margin-left: auto;
  margin-bottom: 51px;
  background-color: transparent;
  border: none;
  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: -12px;
    width: 12px;
    height: 2px;
    background-color: $base-black;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: -13px;
    width: 12px;
    height: 2px;
    background-color: $base-black;
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-size) {
  .main-nav {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      border-top: none;
      padding: 0;
    }

    &__item:not(:last-child) {
      margin-right: 40px;
    }

    &__item--current {
      border-bottom: 2px solid $base-primary;
    }

    &__item--current a:not([href]) {
      color: $base-primary;
    }
  }
}

@media (min-width: $desktop-size) {
  .main-nav {
    &__item:not(:last-child) {
      margin-right: 60px;
    }
  }
}
