.page-header {
  background-color: $base-white;

  &__layout {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr;
    align-items: center;
    }

  &__main-nav {
    grid-column: 1 / -1;
    grid-row: 2/-1;
  }

  &__logo:hover,
  &__logo:focus {
    opacity: 0.7;
  }

  &__header {
    display: none;
  }
}

@media (min-width: $tablet-size) {
  .page-header {
    padding: 5px 0;

    &__layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
    width: 82px;
    height: 36px;
    }
  }
}

@media (min-width: $desktop-size) {
  .page-header {
    &__logo {
      width: 170px;
      height: 36px;
    }

    &__header {
      display: block;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
  }
}
