.slider {
  padding: 20px 0;

  &__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    text-align: center;
  }

  &__item--first {
    background-color: $slide-first;
  }

  &__item--second {
    background-color: $slide-second;
  }

  &__item--third {
    background-color: $slide-third;
  }

  &__slide-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
  }

  &__slide-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
  }

  &__slide-image {
    max-width: 100%;
    min-width: 320px;
  }

  // &__slider-controls {

  &__button-arrow {
    height: 100%;
    width: 20px;
    background-color: transparent;
    border-color: transparent;
  }
}

  @media (min-width: $tablet-size) {
  .slider {

    &__item-wrapper {
      flex-direction: column-reverse;
    }

    &__slide-image {
      width: 476px;
      height: 476px;
    }

    &__slide-title {
      font-size: 56px;
      line-height: 80px;
    }

    &__slide-text {
      font-size: 20px;
      line-height: 32px;
    }

    &__button-arrow {
      width: 80px;
    }
  }
}

@media (min-width: $desktop-size) {
  .slider {

    &__item-wrapper {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__wrapper-info {
      display: flex;
      flex-direction: column;
    }

    &__slide-title {
      text-align: left;
    }

    &__slide-text {
      text-align: left;
    }

    &__slide-image {
      width: 600px;
      height: 600px;
    }
  }
}

// .slider {
// 	position: relative;
// 	padding-left: 20px;
// 	padding-right: 20px;
// }

// .slider-list {
// 	position: relative;
// }

// .slide-three-phones::after {
// 	background-image: url(../img/slide-three-phones.png);
// }

// .slide::after {
// 	content: "";
// 	position: absolute;
// 	width: 760px;
// 	height: 431px;
// 	right: 4px;
// 	bottom: 0;
// 	background-repeat: no-repeat;
// }

// .slide-two-screens::after {
// 	background: url(../img/slide-two-screens.png);
// }

// .slide-tablet-phone::after {
// 	background: url(../img/slide-tablet-phone.png);
// }

// .slogan {
// 	font-weight: 500;
// 	font-size: 55px;
// 	line-height: 55px;
// 	color: var(--black);
// 	margin: 0;
// 	margin-bottom: 27px;
// 	padding-top: 74px;
// }

// .text {
// 	color: var(--dark-grey);
// }

// .text-slogan {
// 	padding: 0;
// 	margin: 0;
// 	margin-bottom: 38px;
// }

// .slide-button {
// 	margin-bottom: 80px;
// }

// .slider-controls {
// 	position: absolute;
// 	display: flex;
// 	justify-content: space-between;
// 	width: 88px;
// 	z-index: 2;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	bottom: 96px;
// }

// .slider-controls-button {
// 	width: 18px;
// 	height: 18px;
// 	border-radius: 50%;
// 	padding: 0;
// 	background-color: var(--white);
// 	border: none;
// 	cursor: pointer;
// }

// .current {
// 	background-color: var(--white);
// 	box-shadow: inset 0 0 0 5px var(--white), inset 0 0 0 7px var(--button-slide-grey);
// }

// .slide {
// 	display: none;
// }

// .slide-current {
// 	display: block;
// }
