.slider {
  padding: 0 0 20px;
  overflow: hidden;
  margin-bottom: 29px;

  &__item-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__list {
    @include list-reset;
  }

  &__item {
    text-align: center;
    display: none;
  }

  &__item--current {
    display:block;
  }

  &__item--first {
    background-color: $slide-first;
  }

  &__item--second {
    background-color: $slide-second;
  }

  &__item--third {
    background-color: $slide-third;
  }

  &__slide-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: -5px;
  }

  &__slide-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 21px;
  }

  &__slide-image {
    max-width: 100%;
    min-width: 280px;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 100%;
  }

  &__slider-controls {
    display: none;
  }

  &__button-arrow {
    height: 100%;
    width: 20px;
    background-color: transparent;
    border-color: transparent;
    color: $base-primary;
    border-width: 1px;
    top: 88px;
  }
}

  @media (min-width: $tablet-size) {
  .slider {

    &__item-wrapper {
      flex-direction: column-reverse;
    }

    &__item {
      padding-top: 60px;
    }

    &__item--first {
      background: linear-gradient(to bottom, $slide-first, $base-white);
    }

    &__item--second {
      background: linear-gradient(to bottom, $slide-second, $base-white);
    }

    &__item--third {
      background: linear-gradient(to bottom, $slide-third, $base-white);
    }

    &__slide-image {
      width: 476px;
      margin: auto;
    }

    &__slide-title {
      font-size: 56px;
      line-height: 80px;
    }

    &__slide-text {
      font-size: 20px;
      line-height: 32px;
      padding-left: 76px;
      padding-right: 58px;
    }

    &__button-arrow {
      width: 80px;
    }
  }
}

@media (min-width: $desktop-size) {
  .slider {

    &__item-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__item--first {
      background-color: $slide-first;
    }

    &__item--second {
      background-color: $slide-second;
    }

    &__item--third {
      background-color: $slide-third;
    }

    &__wrapper-info {
      display: flex;
      flex-direction: column;
    }

    &__slide-title {
      text-align: left;
    }

    &__slide-text {
      text-align: left;
    }

    &__slide-image {
      width: 600px;
      height: 600px;
    }

    &__slider-controls {
      display: block;
    }
  }
}
