.user-list {
  @include list-reset;
  display: flex;
  align-items: center;

  &__item {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    display: block;
    color: $base-black;
  }

  &__link:hover,
  &__link:focus {
    color: $base-primary;
    opacity: 0.8;
  }
}
