@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin advantages-item-before {
  content: "";
  position: absolute;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin main-nav-toggle {
  content: "";
  position: absolute;
  top: -26px;
  left: 263px;
  width: 14px;
  height: 2px;
  background-color: $base-black;
}
